@import "./variables";
* {
  font-family: $body;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: rgba(182, 182, 182, 0.645);
  font-family: $title;
}

.navbar-brand {
  font-weight: 700;
  font-size: 60px;
}

.card-img-top {
  border: 2px solid rgb(46, 45, 45);
}

.card-text {
  display: flex;
  align-items: stretch;
}

.card-title {
  font-weight: 500;
}

.card {
  &:hover {
    transform: scale(1.04);
  }
}

@import "./responsive";
